{% extends "layout.html" %} {% block head %}


<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy1rfaC4-cM1rSTNgd-XXXOV15qt9vUb0&libraries=places&callback=initFavMap" async defer></script> -->

{% endblock %} {% block body %}

<!-- Maps group -->

<div id="map">
</div>

<!-- Javascript Functions related to Map -->
<script src="/static/js/gmaps.js"></script>


<script async defer src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyCy1rfaC4-cM1rSTNgd-XXXOV15qt9vUb0&v=3&callback=initFavMap&libraries=places">
</script>
{% endblock %}
