{% extends "layout.html" %}

{% block body %}

<!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCy1rfaC4-cM1rSTNgd-XXXOV15qt9vUb0" type="text/javascript"></script>-->

<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyCy1rfaC4-cM1rSTNgd-XXXOV15qt9vUb0&v=3&libraries=places">
</script>

<!--<script async defer-->
        <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy1rfaC4-cM1rSTNgd-XXXOV15qt9vUb0&callback=initFavMap">-->
<!--</script>-->

<!-- Maps group -->

<div class="hidden" id="right-panel"></div>
<div id="map"></div>

<!-- Javascript Functions related to Map -->
<script src="/static/js/gmaps.js"></script>





{% endblock %}
