{% extends "layout.html" %}

{% block body %}

<!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCy1rfaC4-cM1rSTNgd-XXXOV15qt9vUb0" type="text/javascript"></script>-->

<script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyCy1rfaC4-cM1rSTNgd-XXXOV15qt9vUb0&v=3&libraries=places">
</script>

<!--<script async defer-->
<!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy1rfaC4-cM1rSTNgd-XXXOV15qt9vUb0&callback=initFavMap">-->
<!--</script>-->

<!-- Maps group -->

<!--<div class="hidden" id="right-panel"></div>-->
<div class="hidden" id="right-panel">
    <a class="waves-effect waves-light btn">button</a>
    <a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>

</div>




<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <!--<h4>Modal Header</h4>-->
        <!--<p>A bunch of text</p>-->
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>

<div id="map"></div>

<!-- Javascript Functions related to Map -->
<script src="/static/js/gmaps.js"></script>





{% endblock %}
