{% extends "base.html" %} {% block body %}

<div class="row">
    <div class="col s12 m5">

        <title>Wait less, do more.</title>

        <p>Checkz is an attempt to solve a daily struggle and at the same time learn more about web development.</p>
        </br>

        <p>Today one of the most powerful tools that we can use is data, mainly real time data.</p>
        </br>

        <p>It is crucial to help us make smart choices, or not so smart as well.</p>
        </br>

        <p>I read about solving problems in lots of different media, and people always advise you to solve a problem that you care about and that you want to help solve.</p>
        </br>

        <p>Who likes waiting time?</p>
        </br>

        <p>Who likes to spend time waiting in line? Life is too busy to spend time doing nothing, at least, in my opinion.</p>
        </br>

        <p>Based on that, I have an idea to create a website to help us in our daily choices.</p>
        </br>

        <p>To achieve that there are a few simple steps to follow:</p>
        </br>


        <p>1 – First, choose a place. Then, select a category. Finally, check a place as a favorite by clicking the Checkz button.</p>
        </br>

        <p>Right now, there are 3 categories: Eat, Health, and Fun.</p>
        </br>


        <p>2 - When in one of these previously checked places, update the current waiting time to help other users know.</p>
        </br>

        <p>For instance, if you save a certain restaurant as a favorite, and you are at that restaurant in a long line, you should update the current wait time using the Checkz website to insert real time data about this place.</p>
        </br>

        <p>If someone has this restaurant as a favorite, as well, it will update the current wait time for that user. Then, the most updated waiting time will be available for future users trying to make decisions.</p>
        </br>

        <p>3 - Users can share their current locations or pick any given location on the map, and they can choose to navigate to any of their previous locations. </p>
        </br>

        <p>The Checkz website will take into consideration the current waiting time in a certain location, plus it will consider the traffic.</p>
        </br>

        <p>Users will be able to ask for navigation to one of the previous locations.</p>
        </br>

        <p>Then, the shortest travel time, plus the shortest current waiting time will be used to help you make a smart decision.</p>
        </br>

    </div>
</div>

{% endblock %} {% block footer %}

    <div class="col s12">
        Don't have an account?
        <a href="{{url_for( 'register' )}}">Register</a>
        for a free one instead.
        <br>

    </div>

            <br>
            <br>
            <br>

    <div class="row">
    <div class="col s12 m6">
        Back?
        <a href="{{url_for( 'home_page' )}}">To main page</a>
    </div>

    </div>

{% endblock %}
