<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection" /> -->

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection" />

    <!--Import map.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" media="screen,projection" />

    <!--Import search_adress.css-->
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/search_address.css') }}" media="screen,projection" /> -->

    <meta name="description" content=" Save favotite places in advance, update waiting time, navigate to the shortest waiting time + shortest ETA. Wait less, do more.">
    <meta name="keywords" content="waiting time, location, navigation, do more, wait less, python, flask, save time">
    <meta name="robots" content="index, follow">
    <meta name="author" content="km">

    <!--Import favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Checkz - Wait less, do more.</title>

    <!--  Nav Bar-->
    <nav>
        <div class="nav-wrapper indigo">
            <a href={{url_for( "about_page")}} class="brand-logo"> Checkz </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <!--  from materialize website-->
                <!--
                <li><i class="material-icons">search</i></li>
                <li><input type="search" id="search_text" placeholder="Enter a Location"></li>
                <li><button class="btn waves-light red" type="submit">Search</button></li> -->

                <li><a href={{url_for("show_details")}}><i class="material-icons right">apps</i>Details</a></li>
                <li><a id="my_location_link"><i class="material-icons right">my_location</i>My location</a></li>
                <li><a id="show_fav_link"><i class="material-icons right">grade</i>Show Favorites</a></li>
                <li><a id="clear_markers"><i class="material-icons right">delete</i>Clear Markers</a></li>
                <li><a id="clear_routes"><i class="material-icons right">loop</i>Clear Route</a></li>

                {% if session.get('user_id') %}
                <li><a href="#"><span></span>Signed in as {{ session['username'] }}<i class="material-icons right">lock</i></a></li>
                <li><a id="logout-link" data-userid="{{ session['user_id'] }}" href={{url_for( "logout")}}><i class="material-icons right">lock_open</i>Logout</a></li>
                {% else %}
                <li><a href={{url_for("register")}}><i class="material-icons right">person_add</i> Sign Up</a></li>
                <li><a href={{url_for("login")}}><i class="material-icons right">fingerprint</i> Login </a></li>
                {% endif %}
            </ul>
            <!--  Mobile Nav Bar-->
            <ul class="side-nav" id="mobile-demo">

                <li><a id="my_location_link_mobile"><i class="material-icons right">my_location</i>My location</a></li>
                <li><a id="show_fav_link_mobile"><i class="material-icons right">grade</i>Show Favorites</a></li>
                <li><a id="clear_markers_mobile"><i class="material-icons right">delete</i>Clear Map</a></li>
                <li><a id="clear_routes_mobile"><i class="material-icons right">loop</i>Clear Route</a></li>


                {% if session.get('user_id') %}
                <li><a href="#"><span></span>Signed in as {{ session['username'] }}<i class="material-icons right">lock</i></a></li>
                <li><a id="logout-link" data-userid="{{ session['user_id'] }}" href={{url_for( "logout")}}><i class="material-icons right">lock_open</i>Logout</a></li>
                {% else %}
                <li><a href={{url_for( "register")}}><i class="material-icons right">person add</i> Sign Up</a></li>
                <li><a href={{url_for( "login")}}><i class="material-icons right">fingerprint</i> Login </a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
<!--  Mobile Nav Bar-->
    <nav>
        <div class="navbar-fixed indigo" id="search-div">
            <form class="col s12">
                <!-- <i class="material-icons prefix">account_circle</i> -->
                <!-- <div class="row" id="search-address"> -->
                <!-- <i class="material-icons">local_dining</i> -->
                <input id="address-input" type="search" placeholder="   Enter a location to Checkz!" required>

                <input id="button-input" type="button" value="Search">
                <!-- <button id="button-input" class="btn waves-effect waves-light red" type="submit">Send</button> -->
            </form>
        </div>
    </nav>

    <!-- <nav>
        <section class="newsletter container bg-black">
            <div class="navbar-fixed indigo" id="newsletter">
                <div class="bg-black" id="newsletter">
                    <form>
                        type="search" TODO comment
                        <input class="bg-black" name="search" placeholder="Enter a location to Checkz!">
                        <button class="bg-white red"> Search </button>
                    </form>
                </div>
        </section>
    </nav> -->

    <!-- NEWSLETTER -->
    <!-- <section class="newsletter container bg-black">
        <h2> Inscreva-se agora! </h2>
        <h3>  Receba novidades, dicas e muito mais </h3>
        <form>
            <input class="bg-black radius" type="email" name="email" placeholder="Seu email">
            <button class="bg-white radius"> Cadastrar </button>
        </form>
    </section> -->

    <!-- <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s10">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" />
                            <label for="search"><i class="material-icons">search</i></label>
                        </div>
                    </form>
                </div>
                <div class="col s2">
                    <ul class="right">
                        <li><a href="#"><i class="material-icons">close</i></a></li>
                        <li><a href="#"><i class="material-icons">link</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> -->


    <!-- <nav>
        <div class="nav-wrapper indigo">
            <div class="row">
                <div class="col s10">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" />
                            <label for="search"><i class="material-icons">search</i></label>
                        </div>
                    </form>
                </div>
                <div class="col s2">
                    <ul class="right">
                        <li><a href="#"><i class="material-icons">close</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> -->

    <!-- <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s10">
                    <form>
                        <div class="input-field">
                            <input id="search-te" type="search" placeholder="Enter a Location to Checkz!">
                            <label for="search"><i class="material-icons">search</i></label>
                        </div>
                    </form>
                </div>
                <div class="col s2">
                    <ul class="right">
                        <li><a href="#"><i class="material-icons">close</i></a></li>
                        <li><a href="#"><i class="material-icons">link</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> -->




    <!--Fixed Search Nav Bar-->
    <!--
    <nav>
        <div class="navbar-fixed indigo">
            <form class="col s12">
                <div class="col s8">
                    <form>
                        <div class="input-field">
                            <input type="search" id="search_input" placeholder="Enter a Location to Checkz!">
                            <label for="search_input"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                </div>
                </form>
        </div>
    </nav> -->


    {% block head %} {% endblock %}
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
    {% block body %}{% endblock %}
</body>
<footer class="page-footer indigo">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Checkz Content</h5>
                <p class="grey-text text-lighten-4">Wait less, do more. Checkz!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="!">email@email.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <!--<p class="made-with-love text-muted small">Made in NC, USA</p>-->
        <div class="container">
            © 2016-2017 Checkz
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>

</footer>

</html>
