{% extends "layout.html" %}

{% block head %}




{% endblock %}

{% block body %}

<!-- Maps group -->
<div class="container"></div>

<div id="map" style="width:1800px;height:1000px"></div>

<!-- Javascript Functions related to Map -->

 <!--<script type="'text/javascript" src="{{ url_for('static', filename='js/gmaps.js')}}"></script>-->

 <!--<script type="'text/javascript" src="/static/js/gmaps.js"></script>-->

<script type="text/javascript">
var favMap;
var infoWindow = new google.maps.InfoWindow();


// Initialize Map
function initFavMap() {
  // set LatLng to SF
  var sfLatLng = {
    lat: 36.07094,
    lng: - 79.296201
  };
  // create a map object and specify the DOM element for display
  // map appears in map.html
  favMap = new google.maps.Map(document.getElementById('map'), {
    center: sfLatLng,
    scrollwheel: true,
    zoom: 13,
    zoomControl: true,
    panControl: true,
    streetViewControl: true,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  // Create a new blank array for all the listing markers. To be used with the clear button
  var markers = [];

  // Event listenter to trigge locateUser
  document.getElementById('my_location_link').addEventListener('click', locateUser);
  // Event listener to any click in the screen to add a marker
  favMap.addListener('doubleclick', function (e) {
    placeMarkerAndPanTo(e.latLng, favMap,markers);
    aler(e.latLng[0]);
    aler(e.latLng[1]);
  });

  // Event listenter to clear button - to remove all adde markers from map
  document.getElementById('clear_markers').addEventListener('click', hideListings);
}


// Function to listen to click event and addd a marker
function placeMarkerAndPanTo(latLng, map,markers) {
  // Add function to show
  var marker = new google.maps.Marker({
    position: latLng,
    map: map
  });
  // Call Function to add infoWindow as soon as the marker was created
  addInfoWindowFavoritePlaces(latLng[0],latLng[1],marker);
  //markers.push(marker);
  //alert(makers);
  //map.panTo(latLng);
  //alert(markers);
}

// Function to add infowindow to Marker

function addInfoWindowFavoritePlaces(lat, long, favMark) {
   var contentString = "<table>" +
  '<tr><td>Type:</td> <td><select id=\'type\'>' +
  '<option value=\'Food\' SELECTED>Food</option>' +
  '<option value=\'Fun\'>Fun</option>' +
  '<option value=\'Health\'>Health</option>' +
  '</select> </td></tr>' +
  '<tr><td></td><td><input type=\'button\' value=\'Checkz!\' onclick=\'saveData()\'/></td></tr>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  favMark.addListener('click', function () {
    infowindow.open(map, favMark);
  });
}; // End of addInfoWindowFavoritePlaces


//====================================================================================

// this gets called when you click the fav-button rendered in InfoWindow
function createFavoriteSpot (type, parkLatLng) {
  // TO DO: break up the params in html as regId, parkLat, parkLng
  // and then here grab it and reconstruct it into the format wanted before
  // passing to server

  // grabbing user id from html that only shows if user is in session
  var userId = $('#logout-link').data('userid');

  if (userId !== undefined) {

      var markerData = {
        'type': type,
        'user_id': userId,
        'location_lat': parkLatLng[0],
        'location_long': parkLatLng[1]
      };

      $.post('/save_favorite_place', markerData, function () {
        alert('Your marker has been favorited.');
        // TO DO: Turn marker a different color
      });
  } else {
      alert('You need to be logged in to favorite spots.');
  }
}

//====================================================================================

// this gets called when you click the fav-button rendered in InfoWindow
function locateUser() {
  var browserSupportFlag = new Boolean();
  if (navigator.geolocation) {
    /* geolocation is available */
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function (position) {
      var lat = position.coords.latitude;
      var long = position.coords.longitude;
      //debugger();
      //infoWindow.setPosition(pos);
      //infoWindow.setContent('Location found.');
      //favMap.setCenter(pos);
      var favMark = new google.maps.Marker({
        map: favMap,
        position: new google.maps.LatLng(lat, long),
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png'
      });
      // Call function to display pop up to save place as favorite
      debugger
      addInfoWindowFavoritePlaces(lat, long, favMark);
      window.userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      // anything that needs to ref userLocation MUST happen before the end of this function
    }, function () {
      handleNoGeolocation(browserSupportFlag);
    });
  } // end if
  // browser doesn't support Geolocation so call the handleNoGeolocation fn
   else {
    /* geolocation is not available */
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }
} // end of function locateUser

function handleNoGeolocation(errorFlag) {
  if (errorFlag == true) {
    alert('Geolocation service failed.');
  } else {
    alert('Your browser does not support geolocation.');
  }
}

// This function will loop through the listings and hide them all.
function hideListings() {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(null);
  }
}

$(document).ready(function () {
  google.maps.event.addDomListener(window, 'load', initFavMap);
});

</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEvtcBj2zu72YftC9jBtclZAkcXgJ5qlI&callback=initFavMap">
</script>

{% endblock %}
