{% extends "layout.html" %}

{% block head %}

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEvtcBj2zu72YftC9jBtclZAkcXgJ5qlI&callback=initFavMap">
</script>


{% endblock %}

{% block body %}

<!-- Maps group -->
<div class="container"></div>

<div id="map" style="width:1800px;height:1000px"></div>

<!-- Javascript Functions related to Map -->

 <!--<script type="'text/javascript" src="{{ url_for('static', filename='js/gmaps.js')}}"></script>-->

 <!--<script type="'text/javascript" src="/static/js/gmaps.js"></script>-->

<script type="text/javascript">


var favMap;
var infoWindow = new google.maps.InfoWindow();
var directionsService = new google.maps.DirectionsService();
var directionsDisplay = new google.maps.DirectionsRenderer({
  polylineOptions: {
    strokeColor: 'orange'
  }
});
function initFavMap() {
  // set LatLng to SF
  var sfLatLng = {
    lat: 36.07094,
    lng: - 79.296201
  };
  // create a map object and specify the DOM element for display
  // map appears in map.html
  favMap = new google.maps.Map(document.getElementById('map'), {
    center: sfLatLng,
    scrollwheel: true,
    zoom: 13,
    zoomControl: true,
    panControl: true,
    streetViewControl: true,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  locateUser();
  //getFavoriteSpots();
}
function addInfoWindowFavoritePlaces(lat, long,favMark) {
  // var fav_html ='<div class="content">'
              + '<input type="button" onclick="Hello();" name="ok" value="Click Me"  />'
              + '</div>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  favMark.addListener('click', function () {
    infowindow.open(map, favMark);
  });
}; // End of addInfoWindowFavoritePlaces
// this gets called when you click the fav-button rendered in InfoWindow
function locateUser() {
  var browserSupportFlag = new Boolean();
  if (navigator.geolocation) {
    /* geolocation is available */
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function (position) {
      var lat = position.coords.latitude;
      var long = position.coords.longitude;
      //debugger();
      //infoWindow.setPosition(pos);
      //infoWindow.setContent('Location found.');
      //favMap.setCenter(pos);
      var favMark = new google.maps.Marker({
        map: favMap,
        position: new google.maps.LatLng(lat, long),
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png'
      });
      // Call function to display pop up to save place as favorite
      debugger
      addInfoWindowFavoritePlaces(lat, long, favMark);
      window.userLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      // anything that needs to ref userLocation MUST happen before the end of this function
    }, function () {
      handleNoGeolocation(browserSupportFlag);
    });
  } // end if
  // browser doesn't support Geolocation so call the handleNoGeolocation fn
   else {
    /* geolocation is not available */
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }
} // end of function locateUser

function handleNoGeolocation(errorFlag) {
  if (errorFlag == true) {
    alert('Geolocation service failed.');
  } else {
    alert('Your browser does not support geolocation.');
  }
}
$(document).ready(function () {
  google.maps.event.addDomListener(window, 'load', initFavMap);
});





</script>




{% endblock %}
