{% extends "base.html" %}

{% block body %}


<div class="container">

    <h1>Please create an account</h1>

    <form method="POST" action="{{url_for( 'register' )}}" role="form">
        <input type="text" placeholder="username" name="username"/></br>
        <input type="text" placeholder="email address" name="email" required autofocus/><br>
        <input type="password" placeholder="password" name="password" required/><br>
        <input type="submit" value="Register" class='btn-primary'/>
    </form>


    <br>
    <br>
    <br>
    <br>

        {% if error %}
            <p class="error"><strong>Note:</strong> {{ error }}
        {% endif %}

                <br>
    <br>
    <br>
    <br>


        <div class="row">
    <div class="col s12 m6">
        Back?
        <a href="{{url_for( 'render_map' )}}">To main page</a>
    </div>

    </div>
</div>




    {% endblock %}