<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Teste</h1>

<script type="text/javascript">


</script>

<script type="text/javascript" src="{{url_for('static', filename= 'js/hello.js')}}"></script>

 <input type = "button" value = "funky() " onclick = funky())  />



<script src="static/js/hello.js"></script>



<script type="text/javascript" src="{{url_for('static', filename= 'js/teste.js')}}"></script>

    var1 = {{number}}
    var2 = {{number1}}


      <input type = "button" value = "Say Hello" onclick = document.write(subtract(var1,var2)); />



</body>
</html>